body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

body * {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, tbody, td, th {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
}

table.game_board tbody, table.game_board td, table.game_board th {
    border-width: 1em;
}

table {
    background-color: white;
}

table.score_board th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: black;
    border: 0px solid rgba(0, 0, 0, 0);
}

table.game_board td {
    width: 5em;
    height: 5em;
    padding-bottom: 0.5em;
}

.table-cell {
    height: 100%;
    width: 100%;
    font-size: 5em;
}