body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

table, tbody, td {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 1em;
}

table a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: black;
    border: 0px solid black;
}

td {
    width: 5em;
    height: 5em;
    text-align: center;
}

.table-cell {
    height: 100%;
    width: 100%;
    font-size: 5em;
}