build/
build/*
dist/
dist/*
docs/project_api/
.idea/
.idea/*
output/*.txt
output/*.dat
output/*.TXT
*.txt
*.dat
*.TXT
*~
*#
TEST*
lib/analyzer.jar
lib/java112Labs.jar
lib/*.war
lib/*.ear
lib/java112Demos.jar

.DS_Store

hs_err_pid*

